body {
    background-color: #48acbef6;
    background-image: url("css/butterfly.gif");
    background-attachment: fixed;
    background-position: right bottom;
}

h1 {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

i {
    font-style: italic;
}

span.benefit {
    color: red;
    font-weight: bold;
    display: inline;
}

.butterfly {
    width: 300px;
    height: 400px;
}

a:link {
    color: blue;
    text-decoration: none;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    color: black;
    background-color: red;
    text-decoration: none;
}

