*{
    margin: auto;
    padding: 0%;
    background-color: gray;
}

.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 3px solid black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#principal{
    width: 50%;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}